# pixi environments
.pixi/*
!.pixi/config.toml

# pixi task build
build/*
build-*/

# Temporary local files
a.out
test_divide
test_divide.o
test_invariant_mass

# CMake stuff
CMakeCache.txt
CMakeFiles/*
